//colors
$off-white: #f5f5f5;
$light-grey: #D3D3D3;
$lovely-blue: #2C63ae;
$dark-grey: #767676;
$headline-color: rgb(51, 51, 51);

$container-width: 1270px;
$main-margin: 20px;
$large-text: 950px;
$top-margin: 125px;
$logo-height: 48px;
$logo-width: 145px;


@-ms-viewport{
  width: device-width;
}

*{
  margin: 0;
  padding: 0;
  // border: black solid 1px;
  // box-sizing: border-box;
}

body {
  background-color: $light-grey;
  font-family: 'Montserrat', sans-serif;
}

.navbar-container {
  width: 100%;
  height: $top-margin;
  background-color: $off-white;
  position: fixed;
  top: 0;
}

.navbar {
  position: relative;
  max-width: $container-width;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  height: 125px;
  i {
    visibility: hidden;
    position: absolute;
    top: 20;
  }
  img {
    height: $logo-height;
    width: $logo-width;
  }
}

.left-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 575px;

  img {
    margin-bottom: 20px;
  }
  .anchor-links{
    display: flex;
    justify-content: space-between;
    a {
      font-size: 18px;
      text-decoration: none;
      color: $lovely-blue;
    }
  }
}

.middle-links {
  width: 500px;
  a {
    color: $lovely-blue;
    font-size: 18px;
    text-decoration: none;
  }
}

.right-links {
  width: 300px;
  color: black;
  a {
    color: $dark-grey;
    font-size: 18px;
    text-decoration: none;
  }
}

.babypic {
  height: 171px;
  width: 305px;
}

.bigpic {
  width: 435px;
}

.container {
  width: $container-width;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: $top-margin + $main-margin;
}

.kav {
  padding: 20px;
  min-height: 300px;
  img {
    float: right;
  }
  .headline {
    font-size: 24px;
    
  }
  span {
  }
}

.threeart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $main-margin;
}

.small-article {
  display: flex;
  flex-direction: column;
  background-color: $off-white;
  width: 304px;
  span {
    padding: 10px;
    font-weight: 900;
    font-size: 18px;
  }
}

.content {
  width: $large-text;
  background-color: $light-grey;
  margin-right: $main-margin;
  margin-bottom: $main-margin;
}

.pick-station {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 361px;
  width: 100%;
  text-align: center;
  border-top: 5px solid $lovely-blue;
}

.stations {
  display: flex;
  justify-content: space-around;
}

.opb {
  img {
    height: 70px;
    width: 165px;
    margin-bottom: 15px;
  }
  button {
    height: 32px;
    width: 158px;
    background-color: $lovely-blue;
    color: $off-white;
    font-size: 16px;
  }
  height: 174px;
  width: 450px;
  box-shadow: 0px 0px 2px 1px $light-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.find-another-button-container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  button{
    height: 32px;
    width: 228px;
    margin-bottom: 15px;
    background-color: $off-white;
    border: 2px solid $lovely-blue;
    color: $lovely-blue;
    font-size: 14px;
  }
}

.article {
  margin-bottom: $main-margin;
  background-color: $off-white;
}

.headline {
  color: $headline-color;
  font-weight: 900;
}

.paragraph {
  color: $dark-grey;
  font-style: italic;
  font-weight: 100;
}

.footer {
  width: $large-text;
  background-color: $off-white;
  height: 360px;
}

.ad {
  display: none;
  width: 300px;
  height: 250px;
  img {
    width: 300px;
    height: 250px;
  }
}


@media screen and (min-width: 1024px) {
  .ad {
    display: flex;
  }
}

@media screen and (min-width: 400px) and (max-width: 1024px) {
  .anchor-links a {
    display: none;
  }
  .navbar-container {
    border-bottom: 5px solid $lovely-blue;
    height: $top-margin/2;
  }
  .container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: ($top-margin/2) + $main-margin;
  }
  .content-container {
    margin-left: auto;
    margin-right: auto;
  }
  .navbar {
    i {
      visibility: visible;
      font-size: 32px;
      color: black;
      width: 40px;
      height: 40px;
      top: 17px;
      margin-left: 20px;
    }
    img {
      height: $logo-height * .75;
      width: $logo-width * .75;
      position:absolute;
      top: 15px;
      left: 80px;
    }
  }
}



@media screen and (min-width: 400px) and (max-width: 769px) {
  .threeart {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .small-article {
    width: 100%;
    flex-direction: row-reverse;
    .babypic {
      float: right;
    }
  }

  .navbar {
    position: absolute;
    top: 65px;
  }

  .article, .small-article {
    margin-bottom: $main-margin;
    background-color: $off-white;
  }

  .navbar-container {
    background-color: $headline-color;
  }

  .middle-links {
    display: none;
  }

  .container {
    margin-top: 130px;
  }

  .right-links {
    margin-top: 25px;
  }

  .right-links p {
    display: none;


  }

}
